@model TestApplicarion.Models.TasksPagingDTO

@{
    ViewBag.Title = "Задачи";
}

@Html.ActionLink("Добавить задачу","Card", "Task")

@foreach (var task in Model.Tasks)
{
    <div class="row" >
        <div>
            @if (task.IsDone)
            {
                <h3 class="isDoneColor">@task.Name</h3>
            }
            else if (task.IsToday)
            {
                <h3 class="isTodayColor">@task.Name</h3>
            }
            else if (task.IsOutdate)
            {
                <h3 class="isOutdateColor">@task.Name</h3>
            }
            else
            {
                <h3 class="isNotYetColor">@task.Name</h3>
            }
            <Label>Выполнено:</label>
            <input name="isDone" type="checkbox" disabled="disabled" checked=@task.IsDone/>
        </div>
        <div>
            <h5>@task.DeadLine</h5>
        </div>
        <div>
            @Html.ActionLink("Редактировать", "Card", new { id = task.ID })
            @Html.ActionLink("Просмотр", "Card", new { id = task.ID, readOnly = true })
            @Html.ActionLink("Удалить", "Delete", new { id = task.ID })
        </div>
    </div>
    
}

<div class="pager">
    @Html.PageLinks(Model.PageSize, Model.PageCount, Model.CurrentPage, x => Url.Action("Index", "Task", new { page = x }))
</div>